<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <title>shorten url | xevis</title>
</head>
<body>
    <div class="shortentext">
        <p>shorten url</p>
    </div>
    
    <div class="form"> <!-- limit for length is 200 chars -->
        <form action="/" method="POST">
            <input type="text" name="url" placeholder="URL">
            <br>
            <button type="submit" value="Submit" class="btn btn-light">Submit</button>
          </form>
    </div>
</body>
</html>